<h1 class="text">{{title}}</h1>          
<div class="container">           
  <div class="row">          
    <div class="form-bg">          
      <form #regForm='ngForm' (ngSubmit)='Register(regForm)'>          
        <h2 class="text-center">Registeration Page</h2>          
      <br>          
      <div class="form-group">           
        <input type="text" class="form-control" placeholder="First name" name="firstname" required  ngModel>          
      </div>          
      <br>          
      <div class="form-group">          
        <input type="text" class="form-control" placeholder="Last name" name="lastname" required ngModel>          
      </div>           
      <br>          
      <div class="form-group">          
        <input type="email" class="form-control" placeholder="Email" name="email" email required ngModel #email='ngModel'>          
        <span class="help-bpx" *ngIf="email.touched && !email.valid">Please enter email value</span>                       
      </div>          
       <br>          
      <div class="button-control">          
        <button type="submit" class="btn-btn-primary" id="register" [disabled]='!regForm.valid'>Register </button>          
      </div>                
                 
      </form>          
    </div>          
  </div>          
</div> 