.form-control{      
    text-align: center;      
    width: 200px;      
    height: 40px;      
    color: black;      
    border-color: black;      
    border-radius: 1px;      
}      
.btn-btn-primary{      
    text-align: center;      
    border-radius: 6px;      
    background-color: #1976d2;      
    width: 80px;      
    height:30px;      
    border-style: hidden;      
    color: white;      
}      
input.ng-invalid.ng-touched{      
    border-color: red;      
}      
.text{      
    text-align: center;      
    font-size: x-large;      
}      
.container{      
    text-align: center;      
}   